THREADFIN_API_URL="http://threadfin-host:34400/api/"

M3U_FILE="./eventos.m3u"
XML_FILE="./eventos.xml"

#M3U_FILE="./eventos.m3u"
#XML_FILE="./eventos.xml"

# FUTBOL.PY
FUTBOL_LIBRE_URL="https://example.com/"
FUTBOL_LIBRE_URL_FILE="./futbol_libre_urls.env"

# SearXNG
SEARXNG_SEARCH_URL="http://192.168.0.168/search"
SEARXNG_ENGINE="duckduckgo"
SEARXNG_QUERY="futbol libre"

PARALLEL_STREAM_EXTRACTION=1
STREAM_EXTRACTION_WORKERS=1

KEYS=
#arsenal,boca,river,juventus,barcelona,madrid,bayern,san antonio

NTFY_URL="https://ntfy.sh/your-topic"
JSON_FILE="agenda_futbol.json"

HA_URL="http://home-assistant-host:8123/api/states/sensor.agenda_futbol"
HA_TOKEN="replace-with-home-assistant-token"


HEADLESS=1
